$primary-font-title:'Raleway-Bold';
$secondary-font-title: 'OpenSans-SemiBold';
$primary-font-text: 'OpenSans-Regular';
$secondary-font-text: 'OpenSans-Bold';
$primary-font-logo:'Raleway-SemiBold';
$footer-font-title:'Raleway-Regular';

$primary-accent-color:#1ab798;
$primary-black-color: #282528;
$secondary-black-color: #222222;
$dark-blue-color: #062033;
$primary-white-color: #ffffff;
$footer-accent-color: #bface2;